.generator {
    font-family: 'helveticaneuecyr';
}

.generator__step-hide {
    display: none;
}

.generator__title {
    font-size: 24px;
    font-weight: bold;
    margin-top:63px;
    text-transform: uppercase;
}

.generator__header {
    width: 426px;
    border-bottom: 1px solid #E1E1E1;
    padding-bottom: 3px;
}

.generator__menu {
    font-size: 0;
    margin: 14px 0 0;
}

.generator__menu__item {
    color: #000;
    text-decoration: none;
    font-size: 10px;
    text-transform: uppercase;
    display: inline-block;
    padding: 46px 29px 11px;
    background:rgb(230, 234, 242) no-repeat center 10px;
}

.generator__menu__item-active {
    color: white;
    background-color: rgb(99, 117, 155);
}


.generator__menu__item-1 {
    background-image: url("../img/t1.png");
}
.generator__menu__item-2 {
    background-image: url("../img/t2.png");
}
.generator__menu__item-3 {
    background-image: url("../img/t3.png");
}
.generator__menu__item-4 {
    background-image: url("../img/t4.png");
}
.generator__menu__item-1.generator__menu__item-active {
    background-image: url("../img/t1-a.png");
}
.generator__menu__item-2.generator__menu__item-active {
    background-image: url("../img/t2-a.png");
}
.generator__menu__item-3.generator__menu__item-active {
    background-image: url("../img/t3-a.png");
}
.generator__menu__item-4.generator__menu__item-active {
    background-image: url("../img/t4-a.png");
}

.generator__text {
    color:  #464646;
    font-size: 18px;
    font-weight: 500;
}

.generator__btn {
    text-decoration: none;
    display: inline-block;
    color: white;
    text-transform: uppercase;
    padding: 13px 41px;
    background-color: rgb(99, 117, 155);
    font-size: 16px;
    font-weight: 500;
    margin: 70px 0 25px;
    text-align: center;

}

.generator__step5 {
    width: 1100px;
}

.generator__step4 {
    width: 900px;
}

.generator__labels .generator__btn,.generator__labels .generator__btn  {
    margin-top: 25px;
    margin-left: -37px;
}

.generator__link {
    color:#000;
}

.generator__area {
    width: 675px;
    margin-top: 38px;
}

.generator__area .generator__btn {
    margin-top: 40px;
}

.generator__area .label {
    margin-right: 60px;
    margin-bottom: 30px;
    display: inline-block;
    vert-align: top;
    font-weight: bold;

}

.generator__title2 {
    vertical-align: top;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    margin-right: 25px;
    width: 213px;
}

.generator__consumption-title {
    font-size: 18px;
    font-weight: bold;
}


.generator__consumption {
    vertical-align: top;
    display: inline-block;
    text-align: left;
}

.generator__consumption .icon-info {
    margin-left: 5px;
}

.generator__consumption-label {
    display: inline-block;
    vertical-align: top;
    width: 87px;
    font-size: 14px;
    line-height: 20px;
    margin-top: 16px;
}


.generator__top{
    font-size: 0;

}

.generator__btns {
    margin-left: 30px;
}

.generator__btns .generator__btn {
    margin-top: 0;
}

.generator__btn2 {
    color:  rgb(99, 117, 155);
    background-color: #f2f4f8;
    font-weight: bold;


}

.generator__btn2-active {
    color:  #f2f4f8;
    background-color: rgb(99, 117, 155);

}

.generator__input-radio {
    width: 16px;
    height: 16px;
}

.generator__type {
    margin-top: 41px;

}
.generator__type .label {
    color: #000000;
    font-size: 18px;
    font-weight: bold;
}

.generator__business {
    margin-top: 38px;
    font-size: 16px;


}

.generator__business .generator__row {
    margin-bottom: 13px;
}

.generator__business .label {
    width: 216px;
    display: inline-block;
    margin-right: 23px;
    vertical-align: middle;
}

.input {
    box-sizing: border-box;
}

.generator__business .input {
    width: 284px;
    font-weight: normal;
    border: 1px solid #454545;
    border-radius: 1px;
}

.generator__energy {
    margin:40px 0 0;
}

.icon-info {
    background: url("../img/icon-info.png") no-repeat center;
    width: 18px;
    height: 18px;
    display: inline-block;
    vertical-align: top;
    margin-left: 17px;
}

.generator__labels {
    width: 221px;
    display: inline-block;
    vertical-align: top;
    font-size: 18px;
    font-weight: bold;
    margin-right: 54px;
    padding-left: 37px;
}


.checkbox-label {
    position: relative;


}

.generator__labels .jq-radio {
    top:2px;
    left: -37px;
    position: absolute!important;
}

.generator__text-normal {
    font-weight: normal;
    font-size: 16px;
    margin: 10px 0 48px;
}

.generator__block {
    display: inline-block;
    vertical-align: top;
    max-width: 562px;
}

.generator__block-2 {
    width: 765px;
    max-width: none;
}

.generator__block .generator__title {
    color: #63759b;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    margin:0 0 27px;
}

.generator__left,.generator__right {
    display: inline-block;
    vertical-align: top;
}

.generator__left {
    margin-right: 36px;
}

.generator__block .generator__row {
    margin-bottom: 14px;
}

.generator__block .label {
    width: 156px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 24px;
}



.generator__radios {
    font-size: 0;
    border: 1px solid rgb(99, 117, 155);
    border-radius: 2px;
    display: inline-block;
    vertical-align: middle;
}

.label-radio-energy {
    display: inline-block;
    font-size: 16px;
    padding: 4px 7px;
    cursor: pointer;
}

.input-radio-energy {
    display: none;
}

.input-radio-energy:checked + .label-radio-energy {
    background-color:rgb(99, 117, 155);
    color: white;
}

.generator__radios2 {
    display: inline-block;
    vertical-align: middle;
}

.generator__row-input .input {
    width: 77px;
}

.generator__inputs {
    display: inline-block;
    vertical-align: middle;
    margin-left: 15px;
}

.generator__inputs .input {
    width: 77px;
    border: 1px solid #454545;
    border-radius: 2px;
    padding: 4px 6px 3px;
    margin-left: 5px;
}

.generator__radios2 input {
    margin-right: 18px;
}

.generator__block-2 .label {
    width: 121px;
}

.generator__block-2 .generator__left {
    vertical-align: middle;
    width: 272px;
    margin-right: 23px;
}

.generator__result__item {
    margin-top: 45px;
    width: 300px;
    display: inline-block;
    vertical-align: top;
    margin-right: 85px;
}

.generator__result__item .generator__title {
    margin: 34px 0 27px;
}

.generator__result__img {
    width: 223px;
    height: 165px;
}

.pos-table {
    border: 0 none;
    border-collapse: collapse;
    font-size: 14px;
    width: 99%;
}

.pos-table tr:nth-child(odd) {
    background: #f2f4f8;
}

.pos-table td {
    border: 0 none;
    padding: 2px 10px;
    vertical-align: top;
}


    /*Стилизация Query input*/
.jq-radio {
    top: -1px;
    vertical-align: middle;
    width: 14px;
    height: 14px;
    margin: 0 13px 0 3px;
    border: 2px solid #C0C0C0;
    border-radius: 50%;

    cursor: pointer;
}
.jq-radio.checked .jq-radio__div {
    width: 8px;
    height: 8px;
    margin: 3px 0 0 3px;
    border-radius: 50%;
    background: rgb(99, 117, 155);

}
/*.jq-radio.focused {
    border: 1px solid #08C;
}*/
.jq-radio.disabled {
    opacity: .55;
}

.jq-number {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    padding: 0 16px 0 0;
}
.jq-number__field {
    width: 32px;
    border: 1px solid #000;
    border-radius: 2px;
}
.jq-number__field:hover {
    border-color: #B3B3B3;
}
.jq-number__field input {
    box-sizing: border-box;
    width: 100%;
    padding: 5px 6px 3px;
    border: none;
    outline: none;
    background: none;
    font-size: 16px;
    color: #000;
    text-align: center;
    -moz-appearance: textfield;
}
.jq-number__field input::-webkit-inner-spin-button,
.jq-number__field input::-webkit-outer-spin-button {
    margin: 0; /* Ð² ÐºÐ°ÐºÐ¸Ñ…-Ñ‚Ð¾ Ð±Ñ€Ð°ÑƒÐ·ÐµÑ€Ð°Ñ… Ð¿Ñ€Ð¸ÑÑƒÑ‚ÑÑ‚Ð²ÑƒÐµÑ‚ Ð¾Ñ‚ÑÑ‚ÑƒÐ¿ */
    -webkit-appearance: none;
}
.jq-number__spin {
    position: absolute;
    top: 0;
    right: 0;
    width: 16px;
    height: 13px;
    border: 1px solid #000;
    background: #F5F5F5;
    /*background: -webkit-linear-gradient(#FFF, #E6E6E6);
    background:         linear-gradient(#FFF, #E6E6E6);
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
    box-shadow: inset 1px -1px #F1F1F1, inset -1px 0 #F1F1F1, 0 1px 2px rgba(0,0,0,.1);*/
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
   /* text-shadow: 1px 1px #FFF;*/
    cursor: pointer;
    border-top-right-radius: 2px ;
}
.jq-number__spin.minus {
    top: auto;
    bottom: 0;
    border-top: none;
    border-top-right-radius:0;
    border-bottom-right-radius: 2px ;
}

.jq-number__spin:hover {
    background: #E6E6E6;
    background: -webkit-linear-gradient(#F6F6F6, #E6E6E6);
    background:         linear-gradient(#F6F6F6, #E6E6E6);
}
.jq-number__spin:active {
    background: #F5F5F5;
    box-shadow: inset 1px 1px 3px #DDD;
}
.jq-number__spin:after {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    width: 0;
    height: 0;
    border-right: 3px solid transparent;
    border-bottom: 5px solid #454545;
    border-left: 3px solid transparent;
}
.jq-number__spin.minus:after {
    border-top: 5px solid #454545;
    border-right: 3px solid transparent;
    border-bottom: none;
    border-left: 3px solid transparent;
}
.jq-number__spin.minus:hover:after {
    border-top-color: #000;
}
.jq-number__spin.plus:hover:after {
    border-bottom-color: #000;
}
.jq-number.focused .jq-number__field {
    border: 1px solid #5794BF;
}
.jq-number.disabled .jq-number__field,
.jq-number.disabled .jq-number__spin {
    border-color: #CCC;
    background: #F5F5F5;
    box-shadow: none;
    color: #888;
}
.jq-number.disabled .jq-number__spin:after {
    border-bottom-color: #AAA;
}
.jq-number.disabled .jq-number__spin.minus:after {
    border-top-color: #AAA;
}


.jq-checkbox {
    top: -1px;
    vertical-align: middle;
    width: 27px;
    height: 26px;
    margin: 0 4px 0 0;
    border: 1px solid #000;
    border-radius: 2px;
    cursor: pointer;
}
.jq-checkbox.checked .jq-checkbox__div {
    width: 24px;
    height: 24px;
    background: no-repeat center url("../img/icon-checkbox.png");

}
.jq-checkbox.focused {
    border: 1px solid #08C;
}
.jq-checkbox.disabled {
    opacity: .55;
}
/*Стилизация input end*/

